################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankAccountProject/BankAccountProject/Debug
/BankAccountProject/Debug
/BankAccountProject/BankAccountProject.VC.VC.opendb
/BankAccountProject/BankAccountProject.VC.db
/BankAccountProject/BankAccountProject.sln
